# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

build/
Examples/CMakeCache.txt
Examples/CMakeFiles/
Examples/cmake_install.cmake
Examples/Makefile
Examples/*.cpp
Examples/*.hpp
Examples/Rith*
Examples/Test
Examples/open*
bin/
THANKS.md
.vscode
